@page "/flights"

<style>
    .maincontent
    {
        margin:0;
        display: flex;
        flex-wrap:wrap;
    }
    .maincontent > div
    {
        flex-grow:1;
    }
    .maincontent > div:nth-child(3)
    {
/*         background-color:lightblue; */
        width:100%;

    }
    .maincontent > div:nth-child(2)
    {
        text-align:right;
        position:relative;
        margin-right:0;
/*         background-color:lightcoral; */
    }
    .maincontent > div:nth-child(1)
    {
/*         background-color:lightyellow; */
    }
    .maincontent div:nth-child(2) > input
    {
        margin-right:0;
        margin:auto;
    }
   
    h3
    {
        text-align:center;
    }

    .reserve
    {
        display: flex;
        flex-direction: row;
        justify-content:flex-end;
        align-items: flex-end;
    }
    .reserve > form > button
    {
        display:block;
        margin:auto;
        margin-left:53%;
        margin-top:1em;
        background-color:royalblue;
        color:white;
        border-radius:5px;
    }
    .reserve > form > input
    {
        border-radius:5px;
        width:300px;
    }
    
    .flightfinder
    {
        text-align:right;
        margin:50px;
    }
    .flightfinder > form > div > select
    {
        width:85%;
        border-radius:5px;
    }

    .flightfinder > form > button {
        display: block;
        margin: auto;
        margin-top: 1em;
        background-color: royalblue;
        color: white;
        border-radius:5px;
    }


</style>
<div class="maincontent">

        <div class="flights">
            <h3>Flights</h3>
            <p>Flight 1</p>
            <p>Flight 2</p>
        </div>

        <div class="reserve">    
            <form>
                <h3>Reserve</h3>
                <label for="flight">Flight:</label>
                <input type="text" name="flight"/><br />

                <label for="airline">Airline:</label>
                <input type="text" name="airline" /><br />

                <label for="day">Day:</label>
                <input type="text" name="day" /><br />

                <label for="time">Time:</label>
                <input type="text" name="time" /><br />

                <label for="cost">Cost:</label>
                <input type="text" name="cost" /><br />

                <label for="name">Name:</label>
                <input type="text" name="name" /><br />

                <label for="citizenship">Citizenship:</label>
                <input type="text" name="citizenship" /><br />

                <button>Reserve</button>
            </form>            
        </div>
    <div class="flightfinder">
        <h3>Flight Finder</h3><br />
        <form>
            <div>
                <label for="from">From:</label>
                <select name="from" @onchange="changeOriginAirport">
                    <option disabled value="originAirport">Origin</option>
                    @foreach (var originAirport in airports)
                    {
                        <option value="@originAirport.AirportCode">@originAirport.AirportCode</option>
                    }
                </select><br />
                <p>origin: @selectedOriginAirport</p>
            </div>

            <div>
                <label for="to">To:</label>
                <select name="to" @onchange="changeDestinationAirport">
                    <option disabled value="destinationAirport">Destination</option>
                    @foreach (var destAirport in airports)
                    {
                        <option value="@destAirport.AirportCode">@destAirport.AirportCode</option>
                    }
                </select><br />
                <p>destination: @selectedDestinationAirport</p>
            </div>

            <div>
                <label for="day">Day:</label>
                <select name="day" @onchange="changeDay">
                    <option disabled value="any">Day of the Week</option>
                    @foreach (var day in dayOfWeek)
                    {
                        <option value="@day">@day</option>
                    }
                </select><br />
                <p>day: @selectedDay</p>
            </div>
            <p>TestList: @foreach(var @line in @searchflights)
                {
                    @line.AirlineName;
                }
            </p>
            <button @onclick="getFlights">Find Flights</button>
        </form>
    </div>
</div>


@code {
    ReservationManager rm = new ReservationManager();
    List<Flight> searchflights = ReservationManager.getFlights();
    List<Airport> airports = ReservationManager.getAirports();
    public static List<string> dayOfWeek = new List<string> { "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday" };

    string selectedDay;
    string selectedOriginAirport;
    string selectedDestinationAirport;

    void changeDay(ChangeEventArgs day)
    {
        selectedDay = day.Value.ToString();
    }

    void changeOriginAirport(ChangeEventArgs origin)
    {
        selectedOriginAirport = origin.Value.ToString();
    }

    void changeDestinationAirport(ChangeEventArgs dest)
    {
        selectedDestinationAirport = dest.Value.ToString();
    }

    void getFlights()
    {
        // ReservationManager.getFlights(selectedOriginAirport, selectedDestinationAirport, selectedDay);
        List<Flight> searchflights = new List<Flight>();
        foreach (Flight flight in searchflights)
        {
            if (flight.OriginAirport == selectedOriginAirport)
            {
                if (flight.DestinationAirport == selectedDestinationAirport)
                {
                    if (flight.WeekDate == selectedDay)
                    {
                        searchflights.Add(flight);
                    }
                }
            }
        }
    }

    string reservationCode;
    string flightCode;
    string airlineName;
    double cost;
    string name; // customer name
    string citizenship;
    bool status; // active or inactive

    //what to do with flight finder
    //add list of origin and destinations
    //list of days
}
